<!DOCTYPE html>
<html lang="en">

{% include 'components/head.html' %}

<body>

  {% include 'components/navbar.html' %}

  <main id="main">

    <section class="section pb-5">
      <div class="container">
        <div class="row mb-5 align-items-end">
          <div class="col-md-6" data-aos="fade-up">

            <h2>About Me</h2>
            <p class="mb-0">Here's a little bit to know about me:</p>
          </div>

        </div>

        <div class="row">
          <div class="col-md-7 mb-5 mb-md-0" data-aos="fade-up">
            <p>Hey there! I'm Raphael Manayon, a 13-year-old with a big passion for programming. I specialize in mobile app development, web design, and data science.
              From creating intuitive apps to designing sleek websites, I love exploring how technology can solve real-world problems.
              Let's connect and explore the endless possibilities of coding together!</p>
            <p><a href="{{ url_for('resume') }}" class="readmore">Download my resume here</a></p>
          </div>

        </div>

      </div>

    </section>

  </main><!-- End #main -->

  {% include 'components/footer.html' %}

  {% include 'components/scripts.html' %}

</body>

</html>