<footer class="footer" role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="credits">
            Designed by Raphael Manayon
          </div>
        </div>
        <div class="col-sm-6 social text-md-end">
          <a href="https://x.com/gamma_rephy" target="_blank"><span class="bi bi-twitter"></span></a>
          <a href="https://www.facebook.com/profile.php?id=61558069809898" target="_blank"><span class="bi bi-facebook"></span></a>
          <a href="https://www.instagram.com/rephy2011/" target="_blank"><span class="bi bi-instagram"></span></a>
          <a href="https://www.linkedin.com/in/raphael-manayon-b29444286/" target="_blank"><span class="bi bi-linkedin"></span></a>
        </div>
      </div>
    </div>
</footer>