<section class="section">
      <div class="container">
        <div class="row mb-4 align-items-center">
          <div class="col-md-6" data-aos="fade-up">

            <h2>My Services</h2>
            <p>I offer a few services to anyone wanting to work with me:</p>

          </div>

        </div>
      </div>

      <div class="site-section pb-0 services">
        <div class="container">

          <div class="row">

            <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
              <i class="bi bi-card-checklist"></i>
              <h4 class="h4 mb-2">Web Applications</h4>
              <p>I have 1 year of experience in web design, building websites like this one! As a full-stack web developer, I can work on</p>
              <ul class="list-unstyled list-line">
                <li>Frontend with HTML/CSS/JS</li>
                <li>Backend with Python Flask/Django</li>
              </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="100">
              <i class="bi bi-binoculars"></i>
              <h4 class="h4 mb-2">Mobile Applications</h4>
              <p>I have a month of experience in developing mobile applications. My expertise in this field covers</p>
              <ul class="list-unstyled list-line">
                <li>Java and Kotlin for Android Applications</li>
                <li>Swift for iOS Applications</li>
                <li>Dart and Flutter SDK for Cross-Platform</li>
              </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
              <i class="bi bi-brightness-high"></i>
              <h4 class="h4 mb-2">Data Science</h4>
              <p>I have 4 months of experience in data science (mostly analysis). I can</p>
              <ul class="list-unstyled list-line">
                <li>Question data effectively</li>
                <li>Collect data properly</li>
                <li>Clean data</li>
                <li>Deeply analyze data</li>
                <li>Share and present data</li>
                <li>Use Python for data science</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
</section>